@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 110vh;
  color: white;
}
header nav {
  padding-top: 20px;
  height: 10vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}
@media screen and (max-width: 700px) {
  header nav {
    grid-template-columns: 50% 50%;
  }
  header nav .list {
    display: none;
  }
}
header nav .left {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: allura, sans-serif;
  text-transform: capitalize;
}
header nav .list {
  font-size: 0.8em;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
}
@media screen and (max-width: 700px) {
  header nav .list {
    display: none;
  }
}
header nav .list li {
  cursor: pointer;
}
header nav .list li:hover {
  scale: 1.1;
  font-weight: bold;
}
header nav .list ul {
  display: flex;
  justify-content: space-between;
}
header nav .right {
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
header nav .right li {
  padding: 15px;
}
header nav .right li:hover {
  scale: 1.2;
}
header nav .right li i {
  cursor: pointer;
}
header .header-main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .header-main h1 {
  font-family: allura, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: 4px;
  color: rgb(166, 114, 69);
  line-height: 0;
}
@media screen and (max-width: 700px) {
  header .header-main h1 {
    font-size: 2em;
    line-height: 2;
  }
}
header .header-main h2 {
  padding: 0 auto 15px;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-size: 4em;
  letter-spacing: 10px;
}
@media screen and (max-width: 700px) {
  header .header-main h2 {
    font-size: 2.5em;
  }
}
header .header-main span {
  margin: 30px auto;
}
header .header-main span img {
  font-size: 1.5em;
}
header .header-main p {
  text-align: center;
  font-family: roboto, sans-serif;
  letter-spacing: 10px;
  font-size: 1.3em;
}
@media screen and (max-width: 700px) {
  header .header-main p {
    font-size: 0.7em;
  }
}

.part1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
}
@media screen and (max-width: 700px) {
  .part1 {
    grid-template-columns: 1fr;
  }
}
.part1 .right {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 700px) {
  .part1 .right {
    display: none;
  }
}
.part1 .left {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.part1 .left-container {
  height: 100%;
  border: dashed 2px rgb(166, 114, 69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part1 .left-container h1 {
  padding-top: 30px;
  font-family: allura, sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  color: rgb(166, 114, 69);
  line-height: 20px;
  text-transform: capitalize;
}
.part1 .left-container h2 {
  padding: 0 auto 15px;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-size: 1.5em;
}
.part1 .left-container span {
  margin: 20px auto;
}
.part1 .left-container span span img {
  font-size: 2em;
}
.part1 .left-container p {
  padding: 0 10px;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 1em;
}
.part1 .left-container p + img {
  border-radius: 100%;
  width: 120px;
  padding: 20px;
}
.part1 .left-container h3 {
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.part1 .left-container h4 {
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-size: 0.9em;
  color: silver;
  padding-bottom: 30px;
}

.part2 {
  height: 160vh;
  position: relative;
}
.part2 .menu {
  height: 80%;
}
.part2 .background .topBg {
  height: 70vh;
  background: rgb(33, 32, 30);
}
.part2 .background .bottomBg {
  height: 90vh;
  background: url(../img/bg-menu-01.jpg) center/cover;
}
.part2 .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.part2 .menu .menu-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part2 .menu .menu-header.menu-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(166, 114, 69);
}
.part2 .menu .menu-header ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px;
}
.part2 .menu .menu-header ul li {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.5em;
  line-height: 20px;
  color: rgb(238, 238, 238);
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(238, 238, 238);
  transition: 0.5s;
}
@media screen and (max-width: 700px) {
  .part2 .menu .menu-header ul li {
    font-size: 0.9em;
    padding-bottom: 8px;
    transform: none;
  }
}
.part2 .menu .menu-header ul li:hover {
  scale: 1.2;
  transform: rotate(360deg);
}
@media screen and (max-width: 700px) {
  .part2 .menu .menu-header ul li:hover {
    transform: none;
  }
}
.part2 .menu h1 {
  padding: 30px;
  font-family: allura, sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  color: rgb(166, 114, 69);
  line-height: 20px;
  text-transform: capitalize;
}

.menu-grid {
  background-color: rgb(238, 238, 238);
  min-height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "menu1 menu2" "menu3 menu4" "menu5 menu6" "menu7 menu8";
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .menu-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu-grid .menu-01 {
  grid-area: menu1;
}
.menu-grid .menu-02 {
  grid-area: menu2;
}
.menu-grid .menu-03 {
  grid-area: menu3;
}
.menu-grid .menu-04 {
  grid-area: menu4;
}
.menu-grid .menu-05 {
  grid-area: menu5;
}
.menu-grid .menu-06 {
  grid-area: menu6;
}
.menu-grid .menu-07 {
  grid-area: menu7;
}
.menu-grid .menu-08 {
  grid-area: menu8;
}
.menu-grid div {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  border-bottom: dashed 1px black;
  margin: 0 10px;
}
.menu-grid div img {
  border-radius: 50%;
  background: cover/center;
  width: 100%;
}
.menu-grid div h2 {
  font-family: poppins, sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: black;
  line-height: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .menu-grid div h2 {
    font-size: 0.7em;
    line-height: 15px;
  }
}
.menu-grid div span {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 1em;
}
@media screen and (max-width: 700px) {
  .menu-grid div span {
    font-size: 0.7em;
  }
}
.menu-grid div .price {
  display: block;
  font-size: 1.5em;
  color: rgb(166, 114, 69);
  text-align: right;
  border-bottom: none;
}
@media screen and (max-width: 1000px) {
  .menu-grid div .price {
    font-size: 1em;
  }
}
@media screen and (max-width: 700px) {
  .menu-grid div .price {
    font-size: 0.9em;
  }
}

.part3 {
  height: 100vh;
  background-color: rgb(33, 32, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .part3 {
    height: 200vh;
  }
}
.part3 .part3-container {
  margin-top: 80px;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 100%;
  }
}
.part3 .part3-container .left {
  background-color: black;
  padding: 20px;
}
.part3 .part3-container .left .left-container {
  border: 1px dashed rgb(238, 238, 238);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.part3 .part3-container .left .left-container h1 {
  padding-top: 30px;
  font-family: allura, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: rgb(166, 114, 69);
  line-height: 30px;
  text-transform: capitalize;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .left .left-container h1 {
    font-size: 1em;
    line-height: 15px;
  }
}
.part3 .part3-container .left .left-container h1 span {
  font-family: poppins, sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .left .left-container h1 span {
    font-size: 0.7em;
  }
}
.part3 .part3-container .left .left-container h2 {
  font-family: poppins, sans-serif;
  font-size: 1em;
  letter-spacing: 4px;
  color: rgb(166, 114, 69);
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .left .left-container h2 {
    font-size: 0.7em;
  }
}
.part3 .part3-container .left .left-container p {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .left .left-container p {
    font-size: 0.7em;
  }
}
.part3 .part3-container .right {
  background-color: rgb(238, 238, 238);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.part3 .part3-container .right h1 {
  padding-top: 30px;
  font-family: allura, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: rgb(166, 114, 69);
  line-height: 40px;
  text-transform: capitalize;
  margin: 40px;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .right h1 {
    font-size: 1em;
    margin: 0;
  }
}
.part3 .part3-container .right h1 span {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(10, 10, 10);
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .right h1 span {
    font-size: 0.7em;
    width: 400px;
  }
}
.part3 .part3-container .right img {
  width: 60px;
}
.part3 .part3-container .right form {
  text-align: center;
}
.part3 .part3-container .right form .form-containers {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .right form .form-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.part3 .part3-container .right form .form-containers input,
.part3 .part3-container .right form .form-containers select {
  position: relative;
  border: none;
  background: transparent;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .right form .form-containers input,
.part3 .part3-container .right form .form-containers select {
    padding: 0;
  }
}
.part3 .part3-container .right form .form-containers *:after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 2px;
  background-color: silver;
  width: 100%;
  bottom: 0;
  left: 0;
}
.part3 .part3-container .right input[type=submit] {
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: rgb(252, 251, 251);
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: rgb(46, 45, 45);
  padding: 10px 30px;
  margin: 30px;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
}
.part3 .part3-container .right input[type=submit]:hover {
  scale: 1.1;
}
@media screen and (max-width: 700px) {
  .part3 .part3-container .right input[type=submit] {
    width: 80%;
    font-size: 0.8em;
    padding: 10px 10px;
    margin: 30px auto;
  }
}

.part4 {
  min-height: 100vh;
  padding: 30px;
  background-color: rgb(33, 32, 30);
}
@media screen and (max-width: 700px) {
  .part4 {
    display: none;
  }
}
.part4 .part4-header {
  text-align: center;
  padding-top: 10%;
}
.part4 .part4-header h1 {
  font-family: allura, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: rgb(166, 114, 69);
  line-height: 50px;
  text-transform: capitalize;
  margin: 40px;
}
@media screen and (max-width: 700px) {
  .part4 .part4-header h1 {
    font-size: 1em;
    margin: 0;
  }
}
.part4 .part4-header h1 span {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(255, 252, 252);
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .part4 .part4-header h1 span {
    font-size: 0.7em;
    width: 400px;
  }
}
.part4 .part4-header img {
  width: 50px;
  margin: 50px;
}
.part4 .grid {
  min-height: 500px;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "l1 r" "l2 r";
  gap: 10px;
}
.part4 .grid .part4-right {
  grid-area: r;
  background: url(../img/event-03.jpg) center/cover;
  padding: 10%;
}
.part4 .grid .part4-right .containers {
  position: relative;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30% 10px 0 10px;
}
.part4 .grid .part4-right .containers:after {
  position: absolute;
  content: "08 July";
  word-break: break-all;
  font-size: 2em;
  color: white;
  background-color: rgb(33, 32, 30);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .part4 .grid .part4-right .containers:after {
    height: 20%;
  }
}
.part4 .grid .part4-right .containers h2 {
  text-align: center;
  font-family: poppins, sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.part4 .grid .part4-right .containers p {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 1em;
  color: silver;
  letter-spacing: 2px;
}
.part4 .grid .part4-right .containers a {
  font-family: poppins, sans-serif;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}
.part4 .grid .part4-right .containers a:hover {
  scale: 1.2;
}
.part4 .grid .part4-left .info1 {
  grid-area: l1;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.part4 .grid .part4-left .info1 .img {
  position: relative;
  background: url(../img/event-01.jpg) center/cover;
}
.part4 .grid .part4-left .info1 .img:after {
  position: absolute;
  content: "08 July";
  word-break: break-all;
  font-size: 2em;
  color: white;
  background-color: rgb(33, 32, 30);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part4 .grid .part4-left .info1 .containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.part4 .grid .part4-left .info1 .containers h2 {
  font-family: poppins, sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.part4 .grid .part4-left .info1 .containers p {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 1em;
  color: silver;
  letter-spacing: 2px;
}
.part4 .grid .part4-left .info1 .containers a {
  font-family: poppins, sans-serif;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}
.part4 .grid .part4-left .info1 .containers a:hover {
  scale: 1.1;
}
.part4 .grid .part4-left .info2 {
  margin-top: 10px;
  grid-area: l2;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.part4 .grid .part4-left .info2 .img {
  position: relative;
  background: url(../img/event-02.jpg) center/cover;
}
.part4 .grid .part4-left .info2 .img:after {
  position: absolute;
  content: "08 July";
  word-break: break-all;
  font-size: 2em;
  color: white;
  background-color: rgb(33, 32, 30);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part4 .grid .part4-left .info2 .containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.part4 .grid .part4-left .info2 .containers h2 {
  font-family: poppins, sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.part4 .grid .part4-left .info2 .containers p {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 1em;
  color: silver;
  letter-spacing: 2px;
}
.part4 .grid .part4-left .info2 .containers a {
  font-family: poppins, sans-serif;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}
.part4 .grid .part4-left .info2 .containers a:hover {
  scale: 1.1;
}

.part5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.part5 .part5-background .top {
  height: 50vh;
  width: 100%;
  background-color: rgb(33, 32, 30);
}
.part5 .part5-background .bottom {
  min-height: 50vh;
  width: 100%;
  background: url(../img/gmap.jpg) center/cover;
}
.part5 .part5-containers {
  position: absolute;
  background-color: rgb(238, 238, 238);
  width: 80%;
  min-height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.part5 .part5-containers .part5-content {
  min-height: 50vh;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part5 .part5-containers .part5-content img {
  border-radius: 50%;
  width: 5em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.part5 .part5-containers .part5-content p {
  text-align: center;
  line-height: 35px;
  font-family: roboto, sans-serif;
}
.part5 .part5-containers .part5-content h3 {
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 2em;
  margin: 20px auto;
  font-weight: 200;
}
.part5 .part5-containers .part5-content h4 {
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: rgb(166, 114, 69);
}

footer .containers {
  background: url(../img/bg-footer.jpg) center/cover;
  min-height: 30vh;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 50px;
  transition: 0.4s;
}
@media screen and (max-width: 600px) {
  footer .containers {
    background: url(../img/bg-footer.jpg) right/cover;
  }
}
footer .containers .left {
  padding-left: 30%;
  padding-right: 10%;
  padding-bottom: 50px;
}
footer .containers .left h1 {
  font-size: 3em;
  font-weight: 200;
  font-family: allura, sans-serif;
  color: rgb(166, 114, 69);
  text-transform: capitalize;
}
footer .containers .left p {
  font-size: 1em;
  color: white;
  font-family: roboto, sans-serif;
  line-height: 40px;
}
@media screen and (max-width: 600px) {
  footer .containers .left {
    display: none;
  }
}
footer .containers .right {
  padding-right: 30%;
  padding-left: 10%;
  padding-bottom: 50px;
  color: white;
}
footer .containers .right h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: roboto, sans-serif;
}
footer .containers .right input {
  border: 1px solid rgb(166, 114, 69);
  background: none;
  max-width: 350px;
  height: 30px;
  color: silver;
  padding: 0 30px;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  footer .containers .right input {
    padding: 0 0;
  }
}
footer .containers .right ul {
  margin-top: 50px;
  display: flex;
  text-transform: uppercase;
  font-size: 1em;
  font-family: poppins, sans-serif;
}
footer .containers .right ul li {
  padding: 0 20px;
  transition: 0.3s;
}
footer .containers .right ul li:hover {
  scale: 1.3;
}
footer .containers .right ul li a {
  color: silver;
}/*# sourceMappingURL=index.css.map */