@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$font1: allura, sans-serif;
$font2: poppins, sans-serif;
$font3: roboto, sans-serif;

//   $black1: rgb(17, 17, 17);
//   $white1: rgb(243, 243, 243);
//   $grey1: rgb(209, 209, 209);
//   $grey2: rgb(233, 233, 233);
//   $grey3: rgb(105, 105, 105);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  color: white;
}
